module gitbucket 1.1;

require {
	type smtp_port_t;
	type tomcat_t;
	type tomcat_var_lib_t;
	type unreserved_port_t;

	class file { execute execute_no_trans getattr ioctl lock open read write create unlink rename link setattr append };
	class dir { add_name create getattr ioctl lock open read remove_name rename rmdir search setattr write };
	class tcp_socket { name_bind };
	class tcp_socket { name_connect };
}

# allow tomcat to send emails
allow tomcat_t smtp_port_t:tcp_socket { name_connect };

# allow tomcat to manage files and directories in /var/lib/gitbucket
allow tomcat_t tomcat_var_lib_t:file { execute execute_no_trans getattr ioctl lock open read write create unlink rename link setattr append };
allow tomcat_t tomcat_var_lib_t:dir { add_name create getattr ioctl lock open read remove_name rename rmdir search setattr write };

# allow tomcat to serve repositories via SSH
allow tomcat_t unreserved_port_t:tcp_socket { name_bind };
