module gitbucket 1.1;

require {
	type smtp_port_t;
	type tomcat_t;
	type tomcat_var_lib_t;
	type unreserved_port_t;
	type init_t;
	type bin_t;
	type var_lib_t;
	type var_log_t;

	class file { execute read write create open getattr append };
	class dir { read write search add_name remove_name getattr open };
	class tcp_socket { name_bind name_connect };
}

# allow tomcat to send emails
allow tomcat_t smtp_port_t:tcp_socket { name_connect };

# allow file executes, required during repo creation
allow tomcat_t tomcat_var_lib_t:file { execute };

# allow tomcat to serve repositories via SSH
allow tomcat_t unreserved_port_t:tcp_socket { name_bind };

# allow gitbucket systemd service to access /var/lib/gitbucket
allow init_t var_lib_t:dir { search getattr open };
allow init_t var_lib_t:file { read open getattr };

# allow gitbucket service to read/write its data directory
allow tomcat_t var_lib_t:dir { read write search add_name remove_name getattr open };
allow tomcat_t var_lib_t:file { read write create open getattr append execute };

# allow gitbucket service to execute java binary
allow tomcat_t bin_t:file { execute read open getattr };

# allow gitbucket service to write logs
allow tomcat_t var_log_t:dir { search getattr open add_name write };
allow tomcat_t var_log_t:file { create write append open read getattr };
